<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/st1.css">
</head>
<body>
<div id="header"><div id="title">Ares system</div></div>
<div id="content">
<div id="contentArea2">
<h3>親愛的<span th:text="${session.M.name}"></span><span>你好，這是你的購物車清單</span></h3>
		<table width=500 border=1 align=center>
			<thead>
				<tr>
					<th>會員名
					<th>品名
					<th>數量
					<th>金額
					<th>更改數量
					<th>刪除
				</th>
			</thead>
			<tbody>
				<tr th:each="emp:${session.porder}">
					<td th:text="${emp.name}">
					<td th:text="${emp.productname}">
					<td th:text="${emp.amount}">
					<td th:text="${emp.price}">
					<td><a th:href="@{/porder/gotoUpdate(id=${emp.id},amount=${emp.amount})}">更改</a>
					<td><a th:href="@{/porder/gotoDelete(id=${emp.id})}">刪除</a>
				</tr>
			</tbody>						
				<tr>
					<td colspan=6 align=center>金額總共是<span th:text="${totalAmount}">
				<tr>
					<td colspan=6 align=center>
					<a href="/product/gotoProduct">繼續購物</a><br>
					<a th:href="@{/porder/gotoCheckout(totalAmount=${totalAmount})}">結帳</a><br>
					<a href="/member/function">回會員專區</a>
		</table>
</div>
</div>
<div id="main"></div>
<div id="footer"></div>
</body>
</html>