<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/st1.css">
</head>
<body>
<div id="header"><div id="title">Ares system</div></div>
<div id="content">
	<div id="contentArea">
		<form action="/member/add" method="post">
			姓名:<input style="width:200px;" placeholder="請輸入您的姓名，最多10位字符" type="text" maxlength="10" name="name" required><br>
			帳號:<input style="width:200px;" placeholder="請輸入您的帳號，最多10位字符" type="text" maxlength="10" name="username" required><br>
			密碼:<input style="width:200px;" placeholder="請輸入您的密碼，最少4位字符" type="password" minlength="4" name="password"  required><br>
			郵箱:<input style="width:200px;" placeholder="請輸入您的郵箱" type="text" name="email"><br>
			<input type="hidden" name="type" value="0"><br>
			<input type="hidden" name="cash" value="0"><br>
			<input type="submit" value="ok">
		</form>
	</div>
</div>
<div id="main"></div>
<div id="footer"></div>
</body>
</html>