<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/st1.css">
</head>
<body>
	<div id="header">
		<div id="title">Ares system</div>
	</div>
	<div id="content">
		<div id="contentArea">
			<form action="/member/changePassword" method="post">
				<table border=1 align=center>
					<tr>
						<td>新密碼
						<td><input minlength="4" type="password" name="newPassword1" required>
					<tr>
						<td>確認
						<td><input minlength="4" type="password" name="newPassword2" required>
					<tr>
						<td colspan=2 align=center><input type="submit" value="確認"><br>
						<a href="/member/gotoQuery">查看個人帳號資訊</a><br>
					    <a href="/member/function">回會員專區</a>
				</table>
			</form>


		</div>
	</div>
	<div id="main"></div>
	<div id="footer"></div>

</body>
</html>