<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/st1.css">
</head>
<body>
<div id="header"><div id="title">Ares system</div></div>
<div id="content">
<div id="contentArea" style="font-size:30px">
<a href="/product/gotoProduct">1)購物</a><br>
<a href="/porder/query">2)查看購物車</a><br>
<a href="/member/gotoQuery">3)查看個人帳號資訊</a><br>
<a href="/member/logout">4)登出</a>
</div>
</div>
<div id="main"></div>
<div id="footer"></div>

</body>
</html>